<div class="algorithmContainer">
  <div class="algorithmTitle">
    <h1 class="titleAlgorithm">{{titleAlgorithm}}</h1>
    @if(showMessage){
      <div class="messageContainer">
        <p class="message">{{message}}</p>
      </div>
    }
  </div>
  <div class="header">
    @for(item of processes; track item.id){
    <div class="cell">
      <div class="btnContainer">
        @if(item.edit){
        <button
          type="button"
          title="save"
          class="save"
          (click)="updatePage(item.id)"
        >
          <span class="material-icons icon">save</span>
        </button>
        } @else {
        <button
          type="button"
          title="edit"
          class="edit"
          (click)="editPage(item.id)"
        >
          <span class="material-icons icon">edit</span>
        </button>
        }

        <button
          type="button"
          title="delete"
          class="delete"
          (click)="deleteProcess(item.id)"
        >
          <span class="material-icons icon">delete</span>
        </button>
      </div>
      <input
        class="rowNumber"
        [disabled]="!item.edit"
        [(ngModel)]="item.number"
        placeholder="Número"
        title="processNumber"
      />
    </div>
    }
  </div>

  <div class="bodyContainer">
    @for(item of array; track $index){
    <div class="column">
      @for(cell of item.data; track $index){
      <div class="cell">
        @if(cell == null){
        <span class="empty"></span>
        } @else {
        <span>{{cell}}</span>
        }
      </div>
      }
      <div class="result cell">
        @if(item.result == 'failed'){
        <span class="failed"></span>
        } @else {
        <span class="success"></span>
        }
      </div>
    </div>
    }
  </div>

  <div class="failsContainer">
    <p>Número de fallos: {{cantidadFallos}}</p>
  </div>
</div>
